body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
