* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f8fafc;
  color: #0f172a;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.menu {
  font-size: 26px;
  cursor: pointer;
}

/* SIDEBAR */
#sidebar {
  position: fixed;
  right: -100%;
  top: 0;
  width: 260px;
  height: 100%;
  background: white;
  padding: 30px;
  transition: 0.4s;
  box-shadow: -10px 0 30px rgba(0,0,0,0.1);
}

#sidebar a {
  display: block;
  margin: 20px 0;
  font-size: 18px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 42px;
  font-weight: 700;
}

.hero p {
  margin: 15px 0;
  color: gray;
}

.btns {
  margin-top: 25px;
}

.btn-primary {
  background: linear-gradient(135deg,#2563eb,#3b82f6);
  color: white;
  padding: 14px 28px;
  border-radius: 30px;
  border: none;
}

.btn-outline {
  padding: 14px 28px;
  border-radius: 30px;
  border: 1px solid #ccc;
}

/* AQI BOX */
.aqi-box {
  background: white;
  margin: 30px auto;
  width: 80%;
  text-align: center;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.aqi-box h1 {
  font-size: 70px;
  color: #facc15;
}

/* DASHBOARD */
#dashboard {
  padding: 60px 20px;
}

.grid {
  display: flex;
  gap: 20px;
}

.card {
  flex: 1;
  background: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.05);
}

/* TEAM */
.team-grid {
  display: flex;
  gap: 20px;
  padding: 40px;
}

.team {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}

.team img {
  width: 120px;
  border-radius: 50%;
}
